@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<H3>Hello @Model.First_name you are @Model.Years_Old() old!</H3>