html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    

    background-image: url('https://assets-global.website-files.com/634e7aa49f5b025e1fd9e87b/652039bc9c8ab181fb5abe3d_635047b84bc6791961c30825_Musical_interludes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}




.table {
    background-color: #ffffff; /* Białe tło dla tabeli */
}

    .table th, .table td {
        border: 1px solid #dee2e6; /* Kolor ramki */
    }

.btn-primary {
    background-color: #800080; /* Fioletowy kolor przycisku głównego */
    border-color: #800080;
}

    .btn-primary:hover {
        background-color: #660066; /* Ciemniejszy fiolet po najechaniu myszką */
        border-color: #660066;
    }


.btn-primary {
    margin-top: 10px; 
    
}

h1 {
    margin-bottom: 10px; 
    text-align: center;
}