@model Album
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodaj album</h1>
<form asp-controller="Album" asp-action="Create" method="post">



    <label asp-for="Nazwa"></label>
    <input class="form-control" asp-for="Nazwa" />
    <span class="text-danger" asp-validation-for="Nazwa"></span>

    <label asp-for="Zespol"></label>
    <input class="form-control" asp-for="Zespol" />
    <span class="text-danger" asp-validation-for="Zespol"></span>

   @* <label asp-for="Spis_piosenek"></label>
  
        <div class="piosenka">

            <input class="form-control" asp-for="Spis_piosenek[0]" />

            <input class="form-control" asp-for="Czas_trwania[0]" />
        </div>
   
    <span class="text-danger" asp-validation-for="Spis_piosenek"></span>*@

    <label asp-for="Spis_piosenek"></label>
    <div id="piosenkiContainer">
        <div class="piosenka">
            <label>Piosenka:</label>
            <input class="form-control" asp-for="Spis_piosenek[0]" />
            <label>Czas trwannia:</label>
            <input class="form-control" asp-for="Czas_trwania[0]" placeholder="hh:mm:ss" />
        </div>
    </div>
    <div><button type="button" id="dodajPiosenke">Dodaj piosenkę</button></div>
    <span class="text-danger" asp-validation-for="Spis_piosenek"></span>



    <label asp-for="Notowanie"></label>
    <input class="form-control" asp-for="Notowanie" />
    <span class="text-danger" asp-validation-for="Notowanie"></span>

    <label asp-for="Data_wydania"></label>
    <input class="form-control" asp-for="Data_wydania" />
    <span class="text-danger" asp-validation-for="Data_wydania"></span>







    <button type="submit">Dodaj</button>





    <a asp-controller="Album" asp-action="Index" method="post">
        <button type="button">Powrót</button>
    </a>
</form>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var counter = 1;

            $("#dodajPiosenke").click(function () {
                var newPiosenka =
                    `<div class="piosenka">
                        <label>Piosenka:</label>
                        <input class="form-control" name="Spis_piosenek[${counter}]" />
                        <label>Czas trwannia:</label>
                        <input class="form-control" name="Czas_trwania[${counter}]" placeholder="hh:mm:ss"/>
                    </div>`;

                $("#piosenkiContainer").append(newPiosenka);
                counter++;
            });
        });
    </script>
}