@model Album
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/siteAlbum.css" asp-append-version="true" />

<h1>Edytuj Album API</h1>
<form asp-controller="Album" asp-action="Update" method="post">


    <label asp-for="Nazwa"></label>
    <input class="form-control" asp-for="Nazwa" />
    <span class="text-danger" asp-validation-for="Nazwa"></span>

    <label asp-for="Zespol"></label>
    <input class="form-control" asp-for="Zespol" />
    <span class="text-danger" asp-validation-for="Zespol"></span>

    <label asp-for="Spis_piosenek"></label>
    <input class="form-control" asp-for="Spis_piosenek" />
    <span class="text-danger" asp-validation-for="Spis_piosenek"></span>

    <label asp-for="Notowanie"></label>
    <input class="form-control" asp-for="Notowanie" />
    <span class="text-danger" asp-validation-for="Notowanie"></span>

    <label asp-for="Data_wydania"></label>
    <input class="form-control" asp-for="Data_wydania" />
    <span class="text-danger" asp-validation-for="Data_wydania"></span>

    <label asp-for="Czas_trwania"></label>
    <input class="form-control" asp-for="Czas_trwania" />
    <span class="text-danger" asp-validation-for="Czas_trwania"></span>





    <button type="submit">Dodaj</button>

    <a asp-controller="Album" asp-action="Index" method="post">
        <button type="button">Powrót</button>
    </a>

</form>


    @section Scripts{
    <script>
        //let select = document.getElementById("OrganizationId");
        let filter = document.getElementById("filter");
        filter.onchange = function (e) {
            if (filter.value.lenght == 0) {
                return;
            }
            fetch(`/api/albums?filter=${filter.value}`)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw "No OK, actual status " + response.status;
                })
                .then(json => {
                    select.innerHTML = '';
                    for (let item of json) {
                        let option = document.createElement('option');
                        option.setAttribute('value', item.id);
                        option.innerText = item.title;
                        select.appendChild(option);
                    }
                })
                .catch(e => {
                    console.log('Cant get data from api', e);
                });
        };
    </script>
    }

